.Favorite-Button{
    border:none;
    background-color: none;
}
.Favorite-Button:hover{
    cursor: pointer;
}
.Favorite-Button:focus{
    outline: none;
}
.Favorite-Button {
    font-size: 1.5rem;
    background-color: none;
}