.Book-Search{
    width: 100%;
    
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.Search-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.Search-Result{
    display: flex;
    flex-direction: row;
    
    padding-top: 2rem;
    padding: 4rem;
    align-items: center;
    justify-content: flex-start;
    

    
}
.Search-Input{
    
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    background-color: #fff;
}