.Book-Search{
    width: 100%;
    
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.Search-Container{
    display: flex;
    flex-direction: column;
    
   
}
.Search-Result{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding: 4rem;
    align-items: center;
    justify-content: flex-start;
    

    
}
.Search-Input{
    width: 100%;
}